/*-----------------------------------------------------------------------------------*/
/* Header */
header .nav-color {
	background-color: green !important;
}

header .nav-text {
	color: white !important;
}

.navbar-brand {
	margin-right: 0px !important;
}

/*-----------------------------------------------------------------------------------*/
/* Footer */
footer .footer-color {
	background-color: #1b1b1b !important;
}

footer hr {
	color: ghostwhite;
	background-color: ghostwhite;
}

footer a {
	text-decoration: none;
}

footer h4, footer p, footer a {
	color: white;
}