/* Login Page CSS */
body {
	background-color: green;
}

.card {
	margin-top: 10px;
}

.card h1 {
	font-size: 2rem;
	color: green;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: .25rem;
	margin-top: .25rem;
}

.card p {
	font-size: 1rem;
	color: #5a5c69;
	margin-bottom: .25rem;
}

.card input[type=submit] {
	width: 100%;
}

/* Medium Sized Devices */
@media (min-width: 768px) {
	.card {
		margin-top: 100px;
	}
}