header .nav-color {
	background-color: green !important;
}

footer .footer-color {
	background-color: #1b1b1b !important;
}

footer hr {
	color: ghostwhite;
	background-color: ghostwhite;
}

footer a {
	text-decoration: none;
}

footer h4,p,a {
	color: white;
}